.dark-theme {
  --hero-bg: url(../assets/img/header-bg.jpg);
  --hero-bg-adaptive: url(../assets/img/header-bg-adaptive.jpg);
  --contacts-bg: url(../assets/img/contacts.jpg);
  --bg-color: #000000;
  --form-bg-color: rgba(0, 0, 0, 0.5);
  --text-color: #FFFFFF;
  --title-color: #BDAE82;
  --form-color: #BDAE82;
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --btn-light-bg: #BDAE82;
  --hover-color: #FFFFFF;
  --bg-hover-color: #BDAE82;
  --btn-light-hover-bg: #BDAE82;
  --main-color: #BDAE82;
  --transparent-color: #EEEEEE33;
  --buffer-color: #EEEEEE;
  --price-color: #BDAE82;
  --portfolio-btn-color: #BDAE82;
  --portfolio-btn-bg-color: #000000;
  --time-speed-color: #52555E;
  --video-color: #FFFFFF;
}
.light-theme {
  --hero-bg: url(../assets/img/header-bg-light.jpg);
  --hero-bg-adaptive: url(../assets/img/header-bg-adaptive-light.jpg);
  --contacts-bg: url(../assets/img/contacts-light.jpg);
  --bg-color: #FFFFFF;
  --form-bg-color: rgba(255, 255, 255, 0.5);
  --video-color: #FFFFFF;
  --text-color: #1C1C1C;
  --title-color: #1C1C1C;
  --form-color: #1C1C1C;
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --btn-light-bg: #FFFFFF;
  --hover-color: #BDAE82;
  --bg-hover-color: #1C1C1C;
  --main-color: #BDAE82;
  --transparent-color: #EEEEEE33;
  --buffer-color: #EEEEEE;
  --price-color: #1C1C1C;
  --portfolio-btn-color: #1C1C1C;
  --portfolio-btn-bg-color: #BDAE82;
  --time-speed-color: #52555E;
}