.portfolio__photos {
  margin-top: 60px;
}
.seasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  &__season-btn {
    color: var(--portfolio-btn-color);
    background-color: var(--portfolio-btn-bg-color);
    border: 2px solid var(--main-color);
    padding: 5px 0;
    &_active {
      color: var(--portfolio-btn-bg-color);
      border: none;
      background-color: var(--portfolio-btn-color);
      padding: 7px 0;
    }
  }
}
.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  &__photo {
    max-width: 100%;
    display: block;
  }
}