.video {
  width: 100%;
  height: 100%;
  &__btn {
    width: 130px;
    height: 130px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    background-color: var(--light-color);
    -webkit-mask: url(../assets/svg/videoplay.svg);
            mask: url(../assets/svg/videoplay.svg);
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    &:hover {
      background-color: var(--main-color);
    }
    &_hide {
      display: none;
    }
    @media screen and (max-width: 768px) {
      -webkit-mask: url(../assets/svg/videoadaptiveplay.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
              mask: url(../assets/svg/videoadaptiveplay.svg);
              mask-repeat: no-repeat;
              mask-position: center;
    }
  }
  &__load {
    width: 128px;
    height: 128px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: transparent;
    background-image: url(../assets/svg/load.gif);
    background-size: cover;
    @media screen and (max-width: 420px) {
      width: 60px;
      height: 60px;
    }
  }
}
.video-container {
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 80px 0 0 0;
  }
}
.video-player-container {
  position: relative;
  overflow: hidden;
  color: var(--video-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 400 18px/36px Inter-Regular, sans-serif;
}
.video-control {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
  &__play {
    width: 23px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    background: url(../assets/svg/play.svg) no-repeat;
    &:hover {
      opacity: 0.5;
    }
    &_pause {
      width: 36px;
      height: 36px;
      background: url(../assets/svg/pause.svg) no-repeat;
    }
  }
  &__bar {
    width: 100%;
    cursor: pointer;
    position: absolute;
    height: 5px;
    left: 0;
    top: -5px;
    z-index: 3;
    -webkit-appearance: none;
        -moz-appearance: none;
          appearance: none;
    background: linear-gradient(to right, var(--main-color) 0%, var(--main-color) 0%, var(--transparent-color) 0%, var(--transparent-color) 100%);
    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--main-color);
      -webkit-appearance: none;
          -moz-appearance: none;
              appearance: none;
      @media screen and (max-width: 1024px) {
          width: 13px;
          height: 13px;
      }
      @media screen and (max-width: 420px) {
          width: 10px;
          height: 10px;
      }
    }
  }
  &__buffer-bar {
    width: 0;
    cursor: pointer;
    position: absolute;
    height: 5px;
    left: 0;
    top: -5px;
    background: var(--buffer-color);
  }
  &__time {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 420px) {
      gap: 5px;
    }
  }
  &__settings {
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: auto;
    -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    background: url(../assets/svg/settings.svg) no-repeat;
    &:hover {
      opacity: 0.5;
    }
    &_active {
      transform: rotate(30deg);
    }
  }
  &__fullscreen {
    width: 36px;
    height: 26px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    background: url(../assets/svg/extend.svg) no-repeat;
    &:hover {
      opacity: 0.5;
    }
    &_exit {
      height: 36px;
      background: url(../assets/svg/fullscreen_exit.svg) no-repeat;
    }
  }
  &__volume-bar {
    width: 0;
    height: 5px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;
    background: linear-gradient(to right, var(--main-color) 0%, var(--main-color) 50%, var(--transparent-color) 0%, var(--transparent-color) 100%);
    &:hover {
      width: 100px;
    }
    &::-webkit-slider-thumb {
      display: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--main-color);
      -webkit-appearance: none;
              appearance: none;
      @media screen and (max-width: 1024px) {
          width: 13px;
          height: 13px;
      }
      @media screen and (max-width: 420px) {
          width: 10px;
          height: 10px;
      }
    }
  }
  &__volume-container {
    height: 34px;
    display: flex;
    align-items: center;
    &:hover {
      .video-control__volume-bar {
        width: 100px;
        &::-webkit-slider-thumb {
          display: block;
        }
        @media screen and (max-width: 420px) {
          width: 50px;
        }
      }
    }
  }
  &__volume {
    width: 38px;
    height: 34px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    background: url(../assets/svg/volume.svg) no-repeat;
    &:hover {
      opacity: 0.5;
    }
    &_mute {
      background: url(../assets/svg/mute.svg) no-repeat;
    }
  }
  &_hide {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
  &__time-speed-popup {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    background-color: var(--bg-color);
    right: 10px;
    bottom: 100px;
    &_active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__time-speed-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    margin: 10px 0;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    padding: 0 10px;
    &:hover {
      background-color: var(--time-speed-color);
    }
  }
  &__time-speed-value {
    position: absolute;
    width: 50px;
    height: 30px;
    padding-right: 20px;
    text-align: right;
    right: 20px;
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      width: 2px;
      right: 0;
      top: 10px;
      height: 10px;
      background-color: var(--text-color);
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    &:after {
      top: 17px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  &__time-speed-values {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: 10px;
    bottom: 100px;
    width: 300px;
    -webkit-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    background-color: var(--bg-color);
    &_active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__time-speed-values-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid var(--dark-color);
  }
  &__time-speed-btn {
    border: none;
    position: relative;
    padding: 10px 0;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--bg-color);
    font: 400 18px/18px Inter-Regular, sans-serif;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: var(--time-speed-color);
    }
  }
  &__time-speed-values-exit {
    border: none;
    padding: 10px 0 10px 40px;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--bg-color);
    font: 400 18px/36px Inter-Regular, sans-serif;
    &:before, &:after {
      content: "";
      position: absolute;
      width: 2px;
      top: 15px;
      left: 15px;
      height: 15px;
      background-color: var(--text-color);;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    &:after {
      top: 25px;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  &__time-speed-choosen {
    &:before, &:after {
      content: "";
      position: absolute;
      background-color: var(--text-color);;
      left: 16px;
      top: 22px;
      -webkit-transform: translate(-50%, -50%) rotate(-55deg);
          -ms-transform: translate(-50%, -50%) rotate(-55deg);
              transform: translate(-50%, -50%) rotate(-55deg);
      width: 3px;
      height: 10px;
    }
    &:after {
      left: 25px;
      top: 18px;
      -webkit-transform: translate(-50%, -50%) rotate(35deg);
          -ms-transform: translate(-50%, -50%) rotate(35deg);
              transform: translate(-50%, -50%) rotate(35deg);
      height: 20px;
    }
  }
  &__speed {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s;
    background-color: var(--bg-color);;
    color: var(--text-color);;
    text-align: center;
    &_animate {
      transform: scale(1);
    }
  }
}
.video-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 20px 0;
  gap: 20px;
  @media screen and (max-width: 420px) {
    width: calc(100% - 10px);
    gap: 10px;
    padding: 5px 0;
  }
}