.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 0;
  color: var(--text-color);
  -webkit-transition: background-color 0.3s ease-in;
       -o-transition: background-color 0.3s ease-in;
          transition: background-color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
       -o-transition: color 0.3s ease-in;
          transition: color 0.3s ease-in;
  @media screen and (max-width: 768px) {
    padding: 80px 64px 0 60px;
  }
}
.main {
  background-color: var(--bg-color);
}
.body_overlay {
  &:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}